
services:
  server:
    container_name: server-dev
    build:
      context: .
    user: root
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

