
services:
  server:
    container_name: server-dev
    build:
      context: .
    user: root
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/index.js
      - /usr/src/index.js/node_modules
    depends_on:
      - mongo
    
  mongo:
    image: mongo:7
    container_name: mongo-dev
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db 

volumes:
  mongo_data:

